In [2]:
print("Sijoy Joseph SJ123 josephmsijoy@gmail.com")

Sijoy Joseph SJ123 josephmsijoy@gmail.com

In [4]:
print("Sijoy Joseph\tSJ123\tjosephmsijoy@gmail.com")

Sijoy Joseph	SJ123	josephmsijoy@gmail.com

In [6]:
num1 = 14
num2 = 7
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} * {num2} = {num1 * num2}")
print(f"{num1} / {num2} = {num1 / num2}")

14 + 7 = 21
14 - 7 = 7
14 * 7 = 98
14 / 7 = 2.0

In [8]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [10]:
print("\"SDK\" stands for \"Software Development Kit\", whereas \"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas "IDE" stands for "Integrated Development Environment".

In [12]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print("I\'m from Entri.\b")
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [14]:
num = 23
textnum = "57"
decimal = 98.3
print(type(num))
print(type(textnum))
print(type(decimal))

sum_of_variables = num + int(textnum) + decimal
print("Sum of variables:", sum_of_variables)
print("Datatype of the sum:", type(sum_of_variables))

<class 'int'>
<class 'str'>
<class 'float'>
Sum of variables: 178.3
Datatype of the sum: <class 'float'>

In [16]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60
total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour
print(f"There are {total_minutes_in_year} minutes in a year.")

There are 525600 minutes in a year.

In [18]:
name = input("Please enter your name: ")
print(f"Hi {name}, welcome to Python programming :)")

Please enter your name:  SijoyJoseph

Hi SijoyJoseph, welcome to Python programming :)

In [20]:
pounds = float(input("Please enter amount in pounds: £"))
dollar_rate = 1.25  # Example conversion rate
print(f"£{pounds} are ${pounds * dollar_rate:.2f}")

Please enter amount in pounds: £ 10

£10.0 are $12.50